  h1 {
    margin: 8px 0;
    color: white;
    font-size: 100px
  }

  span {
      color: white;
      font-size:30px;
  }

  p {
    margin: 0;
  }

  body {
      background-color: grey;
      padding: 80px;
      
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }