.row{
    background-color: #fff;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-color: #ccc;
    border-style: solid;
    
}
.row:hover{
    background-color: #fafafa;
}
.titulo{
    color: #333;
    font-size: 13pt;
}
.autor{
    color: #999;
    font-size: 13pt;
}
.fecha{
    color: #333;
    font-size: 13pt;
    margin-left: 50px;
    
}
.botonEliminar{
    display: inline;
    text-align: right;
}

a{
    color: #333;
    text-decoration: none;
}