<mat-list *ngFor='let hit of hits '>
   <mat-list-item class='row'>
        <a class='titulos' href={{hit.story_url}}>
        <span> {{ hit.story_title ? hit.story_title: hit.title }}</span> 
        <span class='autor'> -{{ hit.author}}- </span>
        <span class='fecha'>{{ hit.created_at | date:'medium' }}</span>   
        <button mat-fab color="primary" (click)="this.eliminarRegistro(hit.objectID)">
          <mat-icon>Borrar</mat-icon>
        </button>
        </a>
    </mat-list-item>
</mat-list>
